.container {
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.row {
  width: 100%;
}
